:root {
    --code-outside: #F44336;
    --link: #07305f; 
    --link-hover: #ff6600;
    --link-active: #ff0000;
}

a.white, a.lesson, a.topnav, a.topnavMain {
    color: white; 
}

@font-face {
    font-family: MontserratBold;
    src: url("../fonts/Montserrat-Bold.ttf");
    font-weight: normal;
    font-style: normal;
}  

@font-face {
    font-family: MontserratSemi;
    src: url("../fonts/Montserrat-SemiBold.ttf");
    font-weight: normal;
    font-style: normal;
}  

@font-face {
    font-family: MontserratRegular;
    src: url("../fonts/Montserrat-Medium.ttf");
    font-weight: normal;
    font-style: normal;
}  

@font-face {
    font-family: RobotoBold;
    src: url("../fonts/Roboto-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}  

@font-face {
    font-family: RobotoRegular;
    src: url("../fonts/Roboto-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}  

@font-face {
    font-family: RobotoItalic;
    src: url("fonts/RobotoCondensed-Regular.ttf");
    font-weight: normal;
    font-style: italic;
}  

@font-face {
    font-family: UbuntuMono;
    src: url("/fonts/UbuntuMono-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}  

@supports (-moz-appearance: none) {
    p.courseSign, h3, h2, h2.white, h1, a.lesson, li.sidenavNormal a, a.topnavMain, a.topnav, header.topnav, table, th {
      font-weight: 200 !important; /* Light version for Firefox */
    }
    a.codeOutside {
        font-weight: bold;
    }
  }