:root {
    --hover-orange: #ff7300;
    --active-red: #ff1100;
    --html-light: #f06529;
    --html-dark: #e34c26;
    --twine-green: #11ec5e;
    --twine-blue: #1279ec;
    --http-dark: #005b9c;
    --http-light: #008fc8;
    --css-dark: #214ce5;
    --css-light: #2465f1;
    --correct-dark: #0e5100;
    --wrong-dark: #6f0101;
}

/* Absolutely basic layout elements...Or elements that are supposed to look same on all pages. */
body {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow-x: hidden;
}

body.lesson {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 2.3em auto auto;
}

div.scrollHorizontal {
    overflow-x: auto;
}

div.columns {
    display: flex;
    flex-direction: row;
    width: 100%;
}

pre {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

footer {
    height: auto;
    width: 100%;
    padding: 1em;
    margin: 1em 0 0 0;
    background-color: #003569;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-align: center;
    border-top: 1px solid black;
}

ul {
    list-style-type: square;
    margin: 0.5em 0;
    font-family: RobotoRegular;
}

ol {
    margin: 0.1em 0;
    font-family: RobotoRegular;
}

ul.courseListGoals {
    list-style-type: square;
    margin: 0.1em;
    font-family: MontserratSemi;
}

li.child {
    margin: 0.2em 0.2em 0.2em 4vw;
}

.left {
    text-align: left;
}

/* Top navigation bar */

header.topnav {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: MontserratBold;
    background-color: #00264d;
    border-bottom: 1px solid black;
    height: 2.3em;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    z-index: 10;
    top: 0;
    overflow-x: auto;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    font-size: 1.05em;
}

a.topnav {
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 0.5em 1em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: MontserratBold;
    padding: 0.5em 1em;
    background-color: #00264d;
    border-right: 1px solid white;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: inline-block;
    height: 100%;
    z-index: 2;
    top: 0;
}

a.topnavMain {
    margin: 0;
    background-color: #001a35;
    border-right: 1px solid white;
    height: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 0.5em 1em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: MontserratBold;
    display: inline-block;
    z-index: 2;
    top: 0;
}

a.topnav:last-child {
    border-right: none;
}

a.topnav:hover {
    background-color: #003569;
}

a.topnav:active {
    background-color: #5a5a5a;
}

a.topnavMain:hover {
    background-color: #002042;
}

a.topnavMain:active {
    background-color: #444444;
}

/* Main Page Content Area */

main.mainPage {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr auto;
    min-height: 100%;
}

div.mainPageName {
    height: auto;
    margin: 2.3em 0 0;
    width: 100%;
    border-bottom: 1px solid black;
    background-color: #ff6600;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

div.mainPageColumn {
    height: 100%;
    width: 100%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 0.5em;
    margin: 0;
    border-right: 1px solid black;
    background-color: #929292;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

div.mainPageContent {
    height: 100%;
    width: 100%;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    padding: 0;
    margin: 0;
    background-color: white;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* Newsletter */
div.ec-v-form-column {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    background-color: #c2c2c2;
}

#ec_form_1-43c2cd496486bcc27217c3e790fb4088 {
    margin: 0;
    background-color: #c2c2c2;
    width: 100%;
}

div.ec-v-form-text {
    width: 100%;
}

/* Course lists layout */

main.coursePage {
    min-height: 100vh;
    row-gap: 2vh;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 2.3em 0 0;
}

div.courseInfo {
    height: auto;
    padding: 0 10vw 1em;
    margin: 2.3em 0 0;
    border-bottom: 1px solid black;
    background-color: #ff6600;
    text-align: left;
    overflow: hidden;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
}

div.courseContentDuoCol {
    margin: 2vh 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 2vw;
    row-gap: 2vh;
    max-width: 100vw;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

div.courseGroup {
    background-color: #d9d9d9;
    border-bottom: 1px solid black;
    padding: 0.5em;

}

h2.courseGroupHeading {
    margin: 0.25em;
}


/* Vertical navigation (lessons) */

div.sidenavWrapper {
    position: fixed;
    width: 20%;
    height: 100%;
    left: 0;
    top: 2.3em;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

nav.sidenavWrapper {
    background-color: #aaaaaa;
    height: 100%;
    width: 100%;
    border-right: 1px solid black;
}

ul.sidenav {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    max-height: 94%;
}

li.sidenavSection {
    font-family: MontserratBold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    padding: 0.5rem;
    margin: 0;
    display: block;
    color: white;
    background-color: #7a7a7a;
    text-align: center;
    border-top: 1px solid black;
}

li.sidenavSection:first-child {
    border-top: none;
}

li.sidenavNormal, li.sidenavNormalActive {
    font-family: MontserratSemi;
    padding: 0.25rem 0.25rem 0.25rem 10%;
    margin: 0;
    display: block;
    color: black;
    border-top: 1px solid black;
    text-wrap: nowrap;
    position: relative;
    overflow: visible;
    transition: background-color 0.2s;
    font-size: 0.9em;
}

@keyframes sidenavHover {
    from {padding-left: 10%;}
    to {padding-left: 15%;}
  }

li.sidenavNormal:hover {
    background-color: var(--hover-orange);
    animation: sidenavHover 0.2s ease-out forwards;
}

li.sidenavNormal:active, li.sidenavNormalActive {
    background-color: var(--active-red);
}

li.sidenavNormal a {
    display: inline-block;
    font-family: MontserratSemi;
    width: 100%;
    height: 100%;
    color: black;
    text-shadow: none;
}

li.sidenavNormal a:hover {
    text-decoration: none;
}

li.sidenavNormal a:active {
    text-decoration: none;
}

/* Lesson layout */

div.lessonContentArea {
    margin: 0;
    padding: 0;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

main.lessonContent {
    margin: 0;
    padding: 0 2vw;
}

div.LessonNameHTML, div.LessonNameTwine, div.LessonNameHTTP, div.LessonNameCSS {
    padding: 2em 1em;
    margin: 0;
    border-bottom: 1px solid black;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

div.LessonNameHTML {
    background-color: var(--html-light);
}

div.LessonNameTwine {
    background-color: var(--twine-blue);
}

div.LessonNameHTTP {
    background-color: var(--http-dark);
}

div.LessonNameCSS {
    background-color: var(--css-light);
}

nav.lessonBreadcrumbHTML, nav.lessonBreadcrumbTwine, nav.lessonBreadcrumbHTTP, nav.lessonBreadcrumbCSS {
    padding: 0.5em 2em;
    margin: 0;
    border-bottom: 1px solid black;
    text-align: left;
    overflow-x: auto;
    overflow-y: hidden;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: BlinkerRegular;
}

nav.lessonBreadcrumbTwine {
    background-color: var(--twine-green);
}

nav.lessonBreadcrumbHTML {
    background-color: var(--html-dark);
}

nav.lessonBreadcrumbHTTP {
    background-color: var(--http-light);
}

nav.lessonBreadcrumbCSS {
    background-color: var(--css-dark);
}

nav.lessonBreadcrumbHTML a, nav.lessonBreadcrumbTwine a, nav.lessonBreadcrumbHTTP a, nav.lessonBreadcrumbCSS a {
    color: black;
    text-decoration: underline;
    font-family: BlinkerRegular;
}

nav.lessonBreadcrumbHTML a:hover, nav.lessonBreadcrumbTwine a:hover, nav.lessonBreadcrumbHTTP a:hover, nav.lessonBreadcrumbCSS a:hover {
    color: black;
    text-decoration: underline;
}

footer.lesson {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

div.lessonButtons {
    margin: 0.5em;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

a.lesson {
    margin: 1em;
    padding: 0.5em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #00264d;
    text-align: center;
    border: 1px solid black;
    font-family: MontserratBold;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    border-radius: 3px;
}

a.lesson:hover {
    background-color: hsl(211, 100%, 9%);
}

a.lesson:active {
    background-color: #ff6600;
}

/* Tabulky */

table, th {
    border: 1px solid black;
    text-align: center;
    background-color: #929292;
    font-family: MontserratBold;
}

table {
    border-collapse: collapse;
    margin: 0.5em 0;
    width: 100%;
}

td {
    border: 1px solid black;
    text-align: center;
    padding: 0.2em;
    font-family: RobotoRegular;
}

tr {
    background-color: hsl(0, 0%, 76%);
}
tr:nth-child(even) {background-color: hsl(0, 0%, 72%);}

tr:hover {
    background-color: hsl(0, 0%, 80%);
}

td:hover {
    background-color: hsl(0, 0%, 85%);
}

tr:hover th {
    background-color: #ff6600;
}

/* Example windows */

div.example {
    margin: 0.5em 0;
    padding: 1vw;
    background-color: #c2c2c2;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    clear: both;
}

p.exampleSub {
    font-family: BlinkerRegular;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 0.9em;
    margin: -1vw -1vw auto;
    padding: 0.25rem 0 0.125rem 1rem;
    color: white;
    background-color: #929292;
    text-indent: 0;
}

h3.exampleHeading, h3.courseBoxHeading {
    font-family: BlinkerRegular;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin: 0;
    padding: 0 0 0.25rem 1rem;
    color: white;
    background-color: #929292;
    border-bottom: 1px solid black;
    transition: background-color 0.2s;
}

h3.exampleHeading {
    font-size: 1.5em;
    text-align: left;
    margin: 0 -1vw 0.5em;
}

div.exampleCodeContainer, div.exampleCodeOutsideContainer, div.exampleCodeContainerInHeading {
    padding: 0;
    background-color: #c2c2c2;
    display: grid;
    grid-template-columns: auto 1fr;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: UbuntuMono;
    color: white;
    grid-auto-flow: column;
    max-height: 20em;
    overflow-y: auto;
    font-size: 0.9em;
}

div.exampleCodeContainer {
    margin-bottom: 0.5em;
    border: 1px solid black;
}

div.exampleCodeOutsideContainer {
    margin: 1vh 0;
    border: 1px solid black;
}

div.exampleCodeContainerInHeading {
    border: none;
    margin: 0;
    width: 100%;
}

div.exampleCodeHeadingContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
    border: 1px solid black;
    width: 100%;
    margin-right: 1vw;
}

div.exampleCodeHeadingContainer:last-child {
    margin-right: 0;
}

div.exampleCodeLineNumber, div.exampleCodeLineNumberCorrect, div.exampleCodeLineNumberWrong {
    margin: 0;
    padding: 0.5em;
    background-color: #333333;
    border-right: 1px solid white;
    grid-column: 1 / 2;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: UbuntuMono;
    color: white;
    text-align: right;
    height: 100%;
}

div.exampleCodeLineNumberCorrect {
    background-color: var(--correct-dark);
}

div.exampleCodeLineNumberWrong {
    background-color: var(--wrong-dark);
}

p.exampleCodeHeading {
    border-bottom: 1px solid black;
    background-color: #444;
    color: white;
    font-family: UbuntuMono;}

code.exampleCode {
    margin: 0;
    padding: 0.5em;
    background-color: #1a1a1a;
    grid-column: 2 / 3;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: UbuntuMono;
    color: white;
    overflow-x: auto;
    white-space: nowrap;
    overflow-y: hidden;
    height: 100%;
}

div.exampleExplanationContainer {
    margin: 0 0 1vh;
    padding: 0;
    background-color: #c2c2c2;
    border: 1px solid black;
    display: grid;
    grid-template-columns: auto 1fr;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: UbuntuMono;
    color: black;
    grid-auto-flow: column;
    max-height: 20em;
    overflow-y: auto;
}

div.exampleExplanationLineNumber {
    margin: 0;
    padding: 0.5em;
    background-color: #d9d9d9;
    border-right: 1px solid black;
    grid-column: 1 / 2;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: UbuntuMono;
    color: black;
    text-align: right;
}

div.exampleExplanation {
    margin: 0;
    padding: 0.5em;
    background-color: #f2f2f2;
    grid-column: 2 / 3;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: UbuntuMono;
    color: black;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

div.exampleIframe {
    padding: 0;
    background-color: white;
    border: 1px solid black;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: UbuntuMono;
    color: black;
}

iframe.exampleIframe {
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: UbuntuMono;
    border: none;
    width: 100%; 
    height: 100%; 
    color: black;
    overflow-x: auto;
    white-space: nowrap;
}

div.exampleIframe:not(:last-child) {
    margin-bottom: 1vh;
}

div.exampleExplanationOutside {
    margin: 0.5em 0;
    padding: 0.5em;
    background-color: #f2f2f2;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: UbuntuMono;
    color: black;
    border: 1px solid black;
}

div.exampleCodeOutsideContainer {
    margin: 0.5em 0;
}

div.examplePhotoContainer {
    background-color: #c2c2c2;
    border: 1px solid black;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: auto;
    max-height: fit-content;
    color: black;
}

img.examplePhoto {
    background-color: #c2c2c2;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 99.999%;
    color: black;
    justify-self: center;
    align-self: center;
}

/* Photo Gallery (lessons, guides) */

div.photoGallery {
    margin: 0.5em 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    background-color: #c2c2c2;
    border: 1px solid black;
    max-width: fit-content;
    width: 100%;
}

h3.photoGalleryTitle {
    text-align: center;
    background-color: #929292;
}

div.photoGalleryContainer {
    width: 100%;
    height: auto;
    border-bottom: 1px solid black;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

p.photoGalleryHint {
    height: auto;
    background-color: #7a7a7a;
    font-size: 0.9em;
    text-indent: none;
    margin: 0;
}

div.photoGalleryInitial {
    width: 1fr;
    border-right: 1px solid white;
    padding: 0;
    margin: 0;
}

div.photoGalleryInitial:last-child {
    border: none;
}

img.photoGalleryInitial {
    width: 99.99999%;
    padding: 0;
    margin: 0;
    height: 100%;
}

div.photoGalleryDropdown, div.photoGalleryDropdownRight {
    display: none;
    border: 1px solid black;
    padding: 0;
    margin: 0;
    position: absolute;
}

div.photoGalleryDropdownRight {
    right: 2vw;
}

div.photoGalleryInitial:hover div.photoGalleryDropdown, div.photoGalleryDropdownRight {
    display: block;
    flex-direction: column;
    background-color: #7a7a7a;
    z-index: 2;
    max-width: 45vw;
    margin-top: -0.2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img.photoGalleryDropdown {
    display: none;
}

div.photoGalleryInitial:hover img.photoGalleryDropdown {
    display: block;
    width: 45vw;
    border-bottom: 1px solid white;
    padding: 0;
    margin: 0;
}

p.photoGalleryDropdown {
    display: none;
}

div.photoGalleryInitial:hover p.photoGalleryDropdown {
    display: block;
    padding: 0;
    margin: 0.5em;
    text-indent: 0;
    max-width: 45vw;
}

/* Photos in text */
div.imageFloatR {
    float: right;
    margin: 1em;
    background-color: #aaaaaa;
    max-width: 20em;
}

img.imageFloatR {
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
    box-sizing: border-box;
}

p.imageFloatR {
    margin: 0;
    text-indent: 0;
    line-break: normal;
    padding: 0.25em;
    font-size: 0.9em;
    text-align: center;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

div.center {
    text-align: center;
}

img.imageNormal {
    border: 5px solid black;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 99.999%;
}


/* Media Queries */
@media only screen and (max-width: 1200px) {
    div.sidenavWrapper {
        font-size: 0.9em;
    }
}

@media only screen and (max-width: 1000px) {
    body.lesson {
        grid-template-columns: 25% 75%;
    }

    div.sidenavWrapper {
        width: 25%;
    }

    table {
        font-size: 0.9em;
    }

    div.columns {
        flex-direction: column;
    }
}

@media only screen and (max-width: 900px) {
    body.lesson {
        grid-template-columns: 30% 70%;
    }

    div.sidenavWrapper {
        width: 30%;
        font-size: 0.85em;
    }

    table {
        font-size: 0.85em;
    }

    h1 {
        font-size: 2.5em !important;
    }
}

@media only screen and (max-width: 800px) {
    h1 {
        font-size: 2em !important;
    }

    h2 {
        font-size: 1.5em !important;
    }

    h3 {
        font-size: 1.2em !important;
    }

    table {
        font-size: 0.7em;
    }

}

@media only screen and (max-width: 750px) {
    body.lesson {
        grid-template-columns: 35% 65%;
    }

    div.sidenavWrapper {
        width: 35%;
    }

    table {
        font-size: 0.8em;
    }

    div.imageFloatR {
        float: none;
        display: block;
    }

    div.lessonContentArea {
        margin: -0.3em;
    }

    header.topnav {
        font-size: 0.9em;
        height: 2.3em;
    }

    main.lessonContent {
        padding: 0 1em;
    }
}

@media only screen and (max-width: 500px) {
    body.lesson {
        grid-template-columns: 0% 100%;
        grid-template-rows: 2.3em auto auto auto;
    }

    div.sidenavWrapper {
        width: 100%;
        height: 30vh;
        grid-row: 4 / 5;
        grid-column: 1 / 3;
        bottom: 0;
        top: auto;
        border-top: 1px solid black;
    }

    footer.lesson {
        margin-bottom: 30vh;
    }

    div.imageFloatR {
        float: none;
        display: block;
    }

    div.lessonContentArea {
        margin: -0.3em;
    }

    header.topnav {
        font-size: 0.9em;
        height: 2.3em;
    }
}

